<div class="w-full">
  <ng-container *ngFor="let group of groupedMaintenances">
    <div class="ps-2 my-2 first:mt-0">
      <h3 class="text-xs font-medium uppercase text-gray-500">
        {{ group.date }}
      </h3>
    </div>
    <ng-container *ngFor="let maintenance of group.maintenances">
      <div class="flex gap-x-3 relative group rounded-lg hover:bg-gray-100 cursor-pointer" (click)="goToEdit(maintenance.id)">
        <div class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-neutral-700">
          <div class="relative z-10 size-7 flex justify-center items-center">
            <i [ngClass]="[maintenance.icon || 'fas fa-question-circle', maintenance.color || 'text-gray-600']" class="text-xl"></i>
          </div>
        </div>
        <div class="grow p-2 pb-8">
          <div class="flex justify-between items-start text-sm text-gray-600">
            <div class="flex flex-col">
              <h1 [ngClass]="maintenance.color || 'text-gray-800'" class="font-semibold text-base">{{ maintenance.title }}</h1>
              <p class="mt-1 flex items-center">
                <i class="fas fa-tachometer-alt mr-1"></i>
                {{ maintenance.odometer | number: '1.0-0' }} km
              </p>
              <p class="mt-1 flex items-center">
                <i class="fas fa-map-pin mr-1"></i>
                {{ maintenance.location || 'N/A' }}
              </p>
            </div>
            <div class="flex flex-col items-end">
              <p class="mt-1 text-gray-400">{{ maintenance.date | date: 'd MMM' }}</p>
              <p [ngClass]="maintenance.color || 'text-gray-800'" class="font-semibold text-base">{{ maintenance.amount | currency:'EUR':'symbol':'1.2-2':'es-ES' }}</p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
