<div class="mx-auto max-w-screen-md sm:max-w-screen-lg px-6 sm:pt-6 sm:pb-4 my-0 sm:my-5 bg-white border-0 sm-shadow-lg sm:rounded-3xl">
  <div class="flex flex-col justify-center items-center">
    <p-button [rounded]="false" [text]="true" (onClick)="goToAddCustomService()">{{ 'pages.custom-services.add_customService' | translate }}</p-button>
  </div>
  @if(this.userSvc.user().customServices.length > 0){
    <p-dataView #dv *ngIf="this.userSvc.user().customServices" [value]="this.userSvc.user().customServices">
      <ng-template pTemplate="list" let-customServices>
        <ul class="divide-y divide-gray-200 mb-10">
          <li *ngFor="let customService of customServices" class="p-3 flex items-center user-card h-20 cursor-pointer transition duration-300 ease-in-out transform hover:brightness-90 bg-white">
            <div class="ml-2">
              <i [className]="customService.icon" [ngStyle]="{'color': customService.color}"></i>
            </div>

            <div class="ml-10 w-9/12 truncate">
              <span class="text-ba truncate">{{ customService.label | capitalizeFirst }}</span>
            </div>
              <p-button icon="fas fa-times" severity="danger"  [text]="true" size="small" (onClick)="removeCustomService(customService)"/>
          </li>
        </ul>
      </ng-template>
    </p-dataView>
  }@else {
    <span>{{ 'pages.custom-services.no_customServices' | translate }}</span>
  }
</div>
