<div
	[ngClass]="{
		'mx-auto h-screen md:h-full max-w-md sm:max-w-screen-md px-6 sm:pt-6 sm:pb-4 my-0 sm:my-5 bg-white border-0 shadow-lg sm:rounded-3xl': !ref,
		'w-full p-0 bg-transparent': ref
	}"
>
	<div [ngClass]="{ 'container mx-auto max-w-screen-md': !ref }">
		<form class="p-4" [formGroup]="customLocationForm" (ngSubmit)="onSubmit()">
			<div class="mb-4">
				<label class="block text-gray-700 text-sm font-bold mb-2">{{ 'pages.mant-details.add-mant.location_prompt' | translate }}</label>
				<input
					pInputText
					type="text"
					class="w-full"
					[placeholder]="'pages.mant-details.add-mant.location_prompt' | translate"
					formControlName="label"
				/>
				<div *ngIf="customLocationForm?.get('label')?.invalid && customLocationForm?.get('label')?.touched" class="text-red-500 text-sm mt-1">
					Requerido
				</div>
			</div>
			<p-button type="submit" [label]="'pages.custom-services.save' | translate"></p-button>
		</form>
	</div>
</div>
