<p-dialog
	header="{{ 'welcome.warning.title' | translate }}"
	[(visible)]="displayDialog"
	[modal]="true"
	[closable]="false"
	[responsive]="true"
	[style]="{ width: '350px' }"
>
	<div class="text-center p-4">
		<p class="text-gray-700">{{ 'welcome.warning.message_1' | translate }}</p>
		<p class="mt-2 text-gray-700">
			{{ 'welcome.warning.message_2' | translate }}
		</p>
	</div>
	<p-footer>
		<button
			pButton
			type="button"
			label="{{ 'welcome.continue' | translate }}"
			class="p-button-sm p-button-primary w-full"
			(click)="hideDialog()"
		></button>
	</p-footer>
</p-dialog>
