<div class="mx-auto max-w-md sm:max-w-screen-md px-6 sm:pt-6 sm:pb-4 my-0 sm:my-5 bg-white border-0 shadow-lg sm:rounded-3xl">
	<div class="container mx-auto max-w-screen-md">
		<form class="p-4" [formGroup]="vehicleForm" (ngSubmit)="onSubmit()">
			<div class="mb-4">
				<label class="block text-gray-700 text-sm font-bold mb-2">{{ 'pages.add-vehicle.vehicle_name' | translate }}</label>
				<input
					pInputText
					type="text"
					class="w-full"
					[placeholder]="'pages.add-vehicle.vehicle_name' | translate"
					formControlName="nombreVehiculo"
					[disabled]="isConsulta"
				/>
				<div
					*ngIf="vehicleForm?.get('nombreVehiculo')?.invalid && vehicleForm?.get('nombreVehiculo')?.touched"
					class="text-red-500 text-sm mt-1"
				>
					{{ 'pages.add-vehicle.validations.vehicle_name_required' | translate }}
				</div>
			</div>
			<div class="mb-4">
				<label class="block text-gray-700 text-sm font-bold mb-2">{{ 'pages.add-vehicle.brand' | translate }}</label>
				<p-dropdown
					[options]="optionsBrands"
					[style]="{ width: '100%' }"
					[placeholder]="'pages.add-vehicle.brand_placeholder' | translate"
					formControlName="marca"
					optionLabel="name"
					optionValue="code"
					[filter]="true"
					filterBy="name"
					[showClear]="true"
					[disabled]="isConsulta"
				></p-dropdown>
				<div *ngIf="vehicleForm?.get('marca')?.invalid && vehicleForm?.get('marca')?.touched" class="text-red-500 text-sm mt-1">
					{{ 'pages.add-vehicle.validations.brand_required' | translate }}
				</div>
			</div>
			<div class="mb-4">
				<label class="block text-gray-700 text-sm font-bold mb-2">{{ 'pages.add-vehicle.model' | translate }}</label>
				<input
					pInputText
					type="text"
					class="w-full"
					[placeholder]="'pages.add-vehicle.model' | translate"
					formControlName="modelo"
					[disabled]="isConsulta"
					maxlength="25"
				/>
				<div *ngIf="vehicleForm?.get('modelo')?.invalid && vehicleForm?.get('modelo')?.touched" class="text-red-500 text-sm mt-1">
					{{ 'pages.add-vehicle.validations.model_required' | translate }}
				</div>
			</div>
			<div class="mb-4">
				<label class="block text-gray-700 text-sm font-bold mb-2">{{ 'pages.add-vehicle.year' | translate }}</label>
				<p-inputNumber
					[style]="{ width: '100%' }"
					id="year"
					formControlName="year"
					[min]="0"
					[max]="9999"
					class="w-full"
					[disabled]="isConsulta"
          [useGrouping]="false"
				></p-inputNumber>
			</div>
			<div class="mb-4">
				<label class="block text-gray-700 text-sm font-bold mb-2">{{ 'pages.add-vehicle.color' | translate }}</label>
				<p-colorPicker formControlName="color" [disabled]="isConsulta"></p-colorPicker>
			</div>
      <app-image-selector [imageControl]="imageControl" [label]="'pages.add-vehicle.imagen' | translate" [modoConsulta]="isConsulta"></app-image-selector>
			<div class="mb-4">
				<label class="block text-gray-700 text-sm font-bold mb-2">{{ 'pages.add-vehicle.cc' | translate }}</label>
				<p-inputNumber
					[style]="{ width: '100%' }"
					id="cc"
					formControlName="cc"
					mode="decimal"
					[min]="0"
					[max]="9999"
					class="w-full"
					[disabled]="isConsulta"
				></p-inputNumber>
			</div>
			<div class="mb-4">
				<label class="block text-gray-700 text-sm font-bold mb-2">{{ 'pages.add-vehicle.cv' | translate }}</label>
				<p-inputNumber
					[style]="{ width: '100%' }"
					id="cv"
					formControlName="cv"
					mode="decimal"
					[min]="0"
					[max]="999"
					class="w-full"
					[disabled]="isConsulta"
				></p-inputNumber>
			</div>
			<div class="mb-4">
				<label class="block text-gray-700 text-sm font-bold mb-2">{{ 'pages.add-vehicle.icon' | translate }}</label>
				<p-selectButton [options]="optionsIcons" optionLabel="icon" formControlName="icono" [disabled]="isConsulta">
					<ng-template let-icono pTemplate>
            <i [class]="icono" class="w-5 h-5 text-2xl" [ngStyle]="{'color': vehicleForm.get('color')?.value}"></i>
					</ng-template>
				</p-selectButton>
				<div *ngIf="vehicleForm?.get('icono')?.invalid && vehicleForm?.get('icono')?.touched" class="text-red-500 text-sm mt-1">
					{{ 'pages.add-vehicle.validations.icono_required' | translate }}
				</div>
			</div>
			<div class="mb-4">
				<label class="block text-gray-700 text-sm font-bold mb-2">{{ 'pages.add-vehicle.observ' | translate }}</label>
				<textarea
					class="p-2 border border-gray-300 rounded-md w-full"
					rows="3"
					[placeholder]="'pages.add-vehicle.observ' | translate"
					formControlName="observaciones"
					[disabled]="isConsulta"
					maxlength="50"
				></textarea>
			</div>
			<p-button type="submit" [label]="'pages.add-vehicle.save' | translate"></p-button>
		</form>
	</div>
</div>
