<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#10b981" type="ball-clip-rotate" [fullScreen]="true"></ngx-spinner>
<div>
    <!-- <app-theme-toggle></app-theme-toggle> -->
    <app-navbar *ngIf="userSvc.isUserLogged()"></app-navbar>
    <router-outlet></router-outlet>
    <p-confirmDialog key="confirmDialog"></p-confirmDialog>
    <app-welcome-dialog-info></app-welcome-dialog-info>
    <app-backup-dialog-msg></app-backup-dialog-msg>
    <p-toast position="bottom-center" key="toast" />
    <app-scroll-to-top></app-scroll-to-top>
</div>
